body {
	font-family: sans-serif;
	background-color: #273248;
	color: #FC7643;
}


.container {
	margin-top: 3rem;
    text-align: center;
    padding-bottom: 10rem;
	table-layout: fixed;
}

b {
	color: white;
}

table {
	display: flex;
	align-items: center;
	justify-content: center;
}

