body {
	font-family: sans-serif;
	background-color: #273248;
	color: #FC7643;
}

.container {
	width: 60%;
	margin: auto;
    	text-align: center;
    	padding-bottom: 10rem;
}

button {
    border-color: #FFA364;
    border-width: 1rem;
    background-color: #FFA364;
    font-size: large;
	margin: 5rem;
}